<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">



<%= render @friends %>


<div>
  <%= link_to "Менять", edit_friend_path(@friends),class:"btn btn-primary btn-sm" %> |
  
  <%= link_to "Назад", friend_path ,class:"btn btn-primary btn-sm"%>

<br>
<br>  
<%= button_to "Удалить", @friends, method: :delete,class:"btn btn-danger btn-sm" %>
<br>
</div>
