<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<div class="container px-4 px-lg-5">
<br>

            <!-- Post title-->
            <h1 class="fw-bolder mb-1">Гостиница ОАО «Газпром трансгаз Беларусь»</h1>
          <!-- Preview image figure-->
          <figure class="mb-4"><img class="img-fluid rounded" src="http://www.btg.by/d/textpage/4b/75/_bs_2735-hdr.jpg" alt="..." /></figure>
          <!-- Post content-->
            <p class="fs-5 mb-4">Гостиница ОАО «Газпром трансгаз Беларусь» расположена недалеко от МКАД, в нескольких остановках от станции метро «Московская» и Национальной библиотеки. Из окон гостиницы открывается панорамный вид на живописный пейзаж. Близость лесопарковой зоны позволит на некоторое время почувствовать себя свободным от городского шума и суеты.

Для комфортного проживания гостям предлагаются одно-, двух- и трехкомнатные номера. В каждом из них имеется всё необходимое для размеренного отдыха: телефон, холодильник, телевизор. Также вы можете воспользоваться беспроводным доступом в интернет (Wi—Fi). В одном здании с гостиницей расположены кафе и магазин, которые удивят вас широким выбором продуктов и приятными ценами.</p>
 <figure class="mb-4"><img class="img-fluid rounded" src="http://www.btg.by/d/textpage/4b/75/_bs_2799-hdr.jpg" alt="..." /></figure>
 <p class="fs-5 mb-4">Вас порадуют приветливость и внимание со стороны сотрудников, которые всегда готовы помочь. Профессионально подготовленный персонал обеспечит атмосферу гостеприимства и доброжелательности. Безопасность же гостей обеспечивают круглосуточная охрана и видеонаблюдение по периметру здания.</p>       
<figure class="mb-4"><img class="img-fluid rounded" src="http://www.btg.by/d/textpage/4b/75/_bs_2767-hdr.jpg" alt="..." /></figure>
<figure class="mb-4"><img class="img-fluid rounded" src="http://www.btg.by/d/textpage/4b/75/_bs_2692-hdr.jpg" alt="..." /></figure>
<p class="fs-5 mb-4">Для удобства гостей предусмотрен индивидуальный подход к оплате услуг: наличный, безналичный расчет, оплата пластиковыми карточками.</p>
<figure class="mb-4"><img class="img-fluid rounded" src="http://www.btg.by/d/textpage/4b/75/_bs_2680-hdr.jpg" alt="..." /></figure>
<figure class="mb-4"><img class="img-fluid rounded" src="http://www.btg.by/d/textpage/4b/75/_bs_2751-hdr.jpg" alt="..." /></figure>
<p class="fs-5 mb-4">Гостям, приезжающим на личных автомобилях, мы предоставляем место на удобной бесплатной парковке с видеонаблюдением. </p>
<p class="fs-5 mb-4">Ждем Вас, мы всегда рады гостям!</p>


</div>


