<%= render @room %>
<div>
  <%= link_to "Назад", rooms_path,class:"btn btn-primary btn-sm" %>
  <%= link_to "Забронировать", new_friend_path,class:"btn btn-primary btn-sm" %>

  <% $q1 = @room.id%>
</div>


<br>
